/**
 * Debug Console Stylesheet
 */

html, body {
    height: 100%;
}

body {
    background: #2F3129;
    color: #8F908A;
    margin: 0;
    padding: 0;
}

#debugger {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

#script-wrapper {
    flex: 1 100%;
    /* border: 2px solid #E2E2E2; */
    position: relative;
}

#terminal-wrapper {
    flex: 1 600px;

    border-left: 2px solid #E2E2E2;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
}

#script-toolbar {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;*/
    height: 36px;
    background: #494D40;
    line-height: 100%;

    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

#file-library {
    width: 160px;
    height: 32px;
}

#script-editor {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    bottom: 0;
}

#logging-terminal {
    flex: 1 100%;
    min-height: 200px;

    overflow: auto;

    box-sizing: border-box;
    border-bottom: 2px solid #E2E2E2;
}

#repl-terminal {
    flex: 1 100%;
    min-height: 200px;

    overflow: auto;
}